version: '3.9'

services:
  mongo:
    image: mongo:6
    container_name: diligent-mongo
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: diligent-backend
    ports:
      - '5000:5000'
    environment:
      - MONGO_URI=mongodb://mongo:27017/ecommerce_demo
      - PORT=5000
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: diligent-frontend
    ports:
      - '3000:80'
    environment:
      - REACT_APP_API_URL=http://localhost:5000/api
    depends_on:
      - backend

volumes:
  mongo-data:
